@font-face {
    font-family: 'Metra SemiBold';
    src: url(../../Assets/General/Fonts/metropolis.semi-bold.otf);
}
@font-face {
    font-family: 'Metra Med';
    src: url(../../Assets/General/Fonts/metropolis.medium.otf);
}

@font-face {
    font-family: 'Metra Bold';
    src: url(../../Assets/General/Fonts/metropolis.bold.otf);
}

.loginWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    /* background-color: #f5f5f5; */
}
.loginWrapper img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.loginText{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #14195D;
    font-family: 'Metra Bold';

}