.form{
    top: 130px;
    position: absolute;
    left: 15%;
    right: 15%;
    /* margin-bottom: 100px; */
}
.submit{
    width: max-content;
    padding: 11px 29px 11px 29px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
    font-family: 'Metra Med';
    background-color: #FFAA46;
    color: black;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}