.footerdiv{
    position: fixed;
    background-color: #14195D;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
   
    bottom: 0;
    width: 100%;
    /* padding: 20px; */
}